/* Stylings for Colors Exercise. Background colors ar rainbow colors.  */
h1{
    color:darkgreen;
    background-color: red;
}

h2{
    color:#121212;
    background-color: #ffa500;
}

h3{
    color:#22f;
    background-color: #ff0;
}

h4{
    color:#10021c11;
    background-color:#00800033 ;
}

h5{
    color:#ff03;
    background-color: #00f3;
}

h6{
    color:rgb(255, 255,255);
    background-color: rgb(75,0,130);
}
p{
    color:rgba(255,253,251);
    background-color:rgba(128, 0, 255, .3);
}
#firstitem{
    background-color: hotpink;
}
#thirditem{
    background-color: peachpuff;
}
/* Create class "odd" to specify which items get borders. */
.odd{
    border: 5px solid green;
}
